In [2]:
import pandas as pd
import glob
import datetime as dt

In [4]:
path = r'2017' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame_2017 = pd.concat(li, axis=0, ignore_index=True, sort=False)
frame_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331,Riverside Dr & W 104 St,40.801343,-73.971146,3328,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3100,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140,1 Ave & E 78 St,40.771404,-73.953517,3141,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236,St Marks Pl & 2 Ave,40.728419,-73.987140,473,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427,Lafayette St & Jersey St,40.724305,-73.996010,3431,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13228697,1769,2017-10-31 20:59:26,2017-10-31 21:28:55,362,Broadway & W 37 St,40.751726,-73.987535,3263,Cooper Square & Astor Pl,40.729515,-73.990753,20654,Subscriber,1961.0,2
13228698,376,2017-10-31 21:06:54,2017-10-31 21:13:10,362,Broadway & W 37 St,40.751726,-73.987535,3259,9 Ave & W 28 St,40.749370,-73.999234,15162,Subscriber,1983.0,1
13228699,3189,2017-10-31 21:10:24,2017-10-31 22:03:33,362,Broadway & W 37 St,40.751726,-73.987535,3158,W 63 St & Broadway,40.771639,-73.982614,15666,Subscriber,1955.0,1
13228700,142,2017-10-31 21:48:23,2017-10-31 21:50:46,362,Broadway & W 37 St,40.751726,-73.987535,465,Broadway & W 41 St,40.755136,-73.986580,28203,Subscriber,1971.0,1
13228701,391,2017-10-31 22:40:23,2017-10-31 22:46:55,362,Broadway & W 37 St,40.751726,-73.987535,2006,Central Park S & 6 Ave,40.765909,-73.976342,24867,Subscriber,1990.0,1

In [5]:
path = r'2018' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame_2018 = pd.concat(li, axis=0, ignore_index=True, sort=False)
frame_2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13993049,3183,2018-06-30 12:53:16.1630,2018-06-30 13:46:19.5730,3691.0,28 Ave & 44 St,40.764089,-73.910651,462.0,W 22 St & 10 Ave,40.746920,-74.004519,30117,Customer,1996,1
13993050,2352,2018-06-30 13:05:57.1730,2018-06-30 13:45:09.7640,3691.0,28 Ave & 44 St,40.764089,-73.910651,479.0,9 Ave & W 45 St,40.760193,-73.991255,14809,Subscriber,1972,1
13993051,988,2018-06-30 22:56:32.5280,2018-06-30 23:13:01.5270,3691.0,28 Ave & 44 St,40.764089,-73.910651,3530.0,Crescent St & Ditmars Blvd,40.778718,-73.914564,19432,Subscriber,1984,1
13993052,1695,2018-06-29 16:33:31.2320,2018-06-29 17:01:47.1620,3692.0,5 St & Market St,40.699997,-73.974401,3324.0,3 Ave & 14 St,40.668546,-73.993333,25077,Subscriber,1969,1
13993053,1487,2018-06-30 17:16:59.5840,2018-06-30 17:41:47.0520,3692.0,5 St & Market St,40.699997,-73.974401,443.0,Bedford Ave & S 9 St,40.708531,-73.964090,30376,Customer,1971,1

In [6]:
path = r'2019' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame_2019 = pd.concat(li, axis=0, ignore_index=True, sort=False)
frame_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
20551693,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
20551694,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
20551695,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
20551696,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [7]:
merge1 = frame_2017.append(frame_2018, sort=False)
merge1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331.0,Riverside Dr & W 104 St,40.801343,-73.971146,3328.0,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3141.0,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,473.0,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427.0,Lafayette St & Jersey St,40.724305,-73.996010,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13993049,3183,2018-06-30 12:53:16.1630,2018-06-30 13:46:19.5730,3691.0,28 Ave & 44 St,40.764089,-73.910651,462.0,W 22 St & 10 Ave,40.746920,-74.004519,30117,Customer,1996.0,1
13993050,2352,2018-06-30 13:05:57.1730,2018-06-30 13:45:09.7640,3691.0,28 Ave & 44 St,40.764089,-73.910651,479.0,9 Ave & W 45 St,40.760193,-73.991255,14809,Subscriber,1972.0,1
13993051,988,2018-06-30 22:56:32.5280,2018-06-30 23:13:01.5270,3691.0,28 Ave & 44 St,40.764089,-73.910651,3530.0,Crescent St & Ditmars Blvd,40.778718,-73.914564,19432,Subscriber,1984.0,1
13993052,1695,2018-06-29 16:33:31.2320,2018-06-29 17:01:47.1620,3692.0,5 St & Market St,40.699997,-73.974401,3324.0,3 Ave & 14 St,40.668546,-73.993333,25077,Subscriber,1969.0,1
13993053,1487,2018-06-30 17:16:59.5840,2018-06-30 17:41:47.0520,3692.0,5 St & Market St,40.699997,-73.974401,443.0,Bedford Ave & S 9 St,40.708531,-73.964090,30376,Customer,1971.0,1

In [8]:
merge2 = merge1.append(frame_2019, sort=False)
merge2

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331.0,Riverside Dr & W 104 St,40.801343,-73.971146,3328.0,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3141.0,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,473.0,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427.0,Lafayette St & Jersey St,40.724305,-73.996010,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987.0,2
20551693,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994.0,2
20551694,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985.0,1
20551695,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987.0,0
20551696,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992.0,2

In [11]:
merge2.to_csv(r'citibike_merge2017-2019.csv', index=False)